# Firebase Console > Project Settings > General > Your apps > Web app
# Copy this file to .env.local and fill in your own values
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA4UljE-PHKwogUoOXMBb8lwDCffEFQyB8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=coaching-centre-2b0db.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=coaching-centre-2b0db
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=coaching-centre-2b0db.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=322189399684
NEXT_PUBLIC_FIREBASE_APP_ID=1:322189399684:web:5f049b3b037f0260d9d4d1
